.company-name {
  color: #1c8adb;
  text-decoration: none;
}

.login-body {
  margin-bottom: 0px;
  padding: 0px;
  background-image: url('../assets/img/Latar2.jpg');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 320px;
  height: 480px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  box-sizing: border-box;
  padding: 30px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.login-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(67% - 33%);
}

.login-h1 {
  margin-top: 0px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-family: sans-serif;
}

.login-box p {
  margin-bottom: 0px;
  padding: 0px;
  font-weight: bold;
  color: #fff;
  font-family: sans-serif;
  margin-left: 0px;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type='text'],
input[type='password'] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  background: #1c8adb;
}

.login-box input[type='submit']:hover {
  cursor: pointer;
  background: #293cec;
  color: #fff;
}

.login-box a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

.login-box a:hover {
  color: #293cec;
}

.ceklist {
  height: 90px;
}


.register-body {
  margin-bottom: 0px;
  padding: 0px;
  background-image: url("../assets/img/Latar2.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 100vh;
}

.register-box {
  width: 320px;
  height: 640px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 55%;
  left: 50%;
  position: absolute;
  box-sizing: border-box;
  padding: 30px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.register-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(67% - 33%);
}

.register-h1 {
  margin-top: 0px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-family: sans-serif;
}

.register-box p {
  margin-bottom: 0px;
  padding: 0px;
  font-weight: bold;
  color: #fff;
  margin-left: 0px;
  font-family: sans-serif;

}

.register-box input {
  width: 100%;
  margin-bottom: 20px;
}

.register-box input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.register-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  background: #1c8adb;
}

.register-box input[type="submit"]:hover {
  cursor: pointer;
  background: #293cec;
  color: #fff;
}

.register-box a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

.register-box a:hover {
  color: #293cec;
}

.landing-section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;

}

.kolom .deskripsi-1 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'comic sans ms';
  color: #364f6b;
}

.landing-h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: 'comic sans ms';
  color: #364f6b;
  margin-left: 20px;
}

.landing-h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'comic sans ms';
  color: #364f6b;
  margin-left: 20px;
}

.konten-text {
  font-size: 20px;
  font-family: 'comic sans ms';
  color: #364f6b;
  margin-left: 20px;
}

.quote-container {
  height: 280px;
  margin: 40px 0;
  padding: 0 10%;
  display: flex;
}

.quote-container>div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 8px 0px rgba(1, 1, 1, 0.1);
  border-top: 1px solid rgb(228, 228, 228);
}

.quote-container h2 {
  color: var(--darkGray);
  font-weight: bolder;
}

.quote-container p {
  color: var(--gray);
}

.quote-container>div>div {
  width: 500px;
}

.quote-container>img {
  width: 40%;
  object-fit: cover;
}

.last-container {
  height: 600px;
  padding: 0 10%;
  display: flex;
  margin: 40px 0;
}

.last-container h1 {
  font-size: 60px;
}

.last-container p {
  color: var(--gray);
  font-size: 16px;
}

.last-container>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48%;
  background: yellow;
  background: var(--grayLight);
}

.last-container>div>div {
  width: 400px;
}

.last-container>img {
  width: 52%;
  background: red;
}

.last-container>div>.footer {
  display: flex;
  justify-content: space-between;
}

.description-container>img {
  width: 40%;
  object-fit: cover;
}

.fpass:hover {
  font-weight: bold;
}